---
interface Props {
    name: string;
    avatar: string;
}

const { name, avatar } = Astro.props;
---
<div class="grid place-items-center">   
    <div class="p-1 flex h-24 w-md rounded-lg bg-gray-700 text-white">
        <div class="flex-col w-fit place-items-center items-center">
            <div class="rounded-full overflow-hidden p-1 border-white border-2">
                <div class="size-14 rounded-full bg-cover bg-center overflow-hidden"
                     style={`background-image: url('${avatar}');`}>
                </div>
            </div>
            <div>{name}</div>
        </div>
        <div class="ml-1 mr-1 w-1 bg-white"></div>
        <div class="text-xs flex-1 h-full p-2 flex items-center">
            <slot />
        </div>
    </div>
</div>